<body>
  <main>
    <app-products></app-products>
    <section class="mainContainer">
      <article class="cartContainer">
        <article class="cartItemsContainer">
          <ul>
            <li *ngFor="let p of itemsToBasket; let i = index">
              ProduktID: {{ p.productId }}<br />
              Namn: {{ p.product }}<br />
              Pris: {{ p.price }} :-<br /><br />
            </li>
          </ul>
          <a routerLink="checkout" routerLinkActive="active"
            ><button
              [disabled]="itemsToBasket == 0"
              [hidden]="itemsToBasket == 0"
            >
              <img [src]="shield" alt="basket image" class="svgImg" />Betala!
            </button></a
          >
        </article>
      </article>
    </section>
  </main>
</body>
