nav {
  position: relative;
  top: 0px;
  height: 7rem;
  width: 100%;
  background-color: rgb(224, 0, 0);
  ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 20px;
    display: flex;
    gap: 50px;
    justify-content: flex-start;
  }
  a {
    text-decoration: none;
    &.active {
      text-decoration: underline;
    }
  }
  .varukorg {
    position: absolute;
    right: 10px;
  }
  .svgImg {
    height: 24px;
    width: 24px;
  }
}
